@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap' );
:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    transition: .5s;
    text-transform: capitalize;
    
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
    
}
.header{
    padding: 1rem 7%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
    background: #1d1d23;
}
.logo img{
    width: 60px;
    float: left;
   

}
/*
.navbar{
    width: 50%;
    justify-content: space-between;
    justify-content: center;
    padding: 5px 10px;
    display: flex;
   
}
    */
.header{
    position: sticky;
    top:0;/*this codo to make navebar fixed*/
    z-index:10;
}
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
    
    text-decoration: none;
    justify-content: space-between;
    font-family: sans-serif;
    
}
.navbar a:hover{
   border-radius: 10px;
    background-color: #ec9a15;
}
.icons div{
    color:white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}
.icons a{
    color: white;
    padding:0.6rem 1.5rem;
    border:1px solid orange;
    border-radius: 10px;
    /*background: var(--btn-color);*/
    font-size: 18px;
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
}
.icons a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
}
/* design for home section*/
.home{
    padding: 1rem 7%;
    background: url(background.png);
    /* min-height: 80vh;
    height: 80%; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 100px;
}
.home-inner-content{
    flex: 1 1 45rem;

}
.home-image img{
    width: 90%;
    /* padding-top: 20px; */
   
    transition: transform 3s;
    
    position: relative;
    right: 20px;
    bottom: 70px;
    

}
.home-image img:hover{
    transform: translateY(50px);
}
.home-text-content{
    padding:0 10rem;
    position: relative;
    left: 50px;
    bottom: 70px;
    
    
   
}
.home-text-content h1{
    font-size: 50px;
    color: #e58f00;
}
.home-text-content p{
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    line-height:2.5rem;
}
.home-text-content a{
    color: white;
    margin: 20px 0;
    padding:0.8rem 1.5rem;
    border:1px solid orange;
    border-radius: 10px;
    /*background: var(--btn-color);*/
    font-size: 18px;
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
}
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.about{
    padding: 1rem 7%;
    background: var(--about-sec);
}

.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.about-content{
    flex: 1 1 45rem;
}

.about-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-content .about-inner-content img{
    width: 80%;
    position: relative;
   
   

}
.about-text-content{
    padding: 0 4rem;
}

.about-text-content h1{
    color: #e58f00;
    font-size: 40px;
    margin-bottom: 2rem;

}

.about-text-content p{
    color: white;
    font-size: 2rem;
    line-height: 50px;
    margin-bottom: 4rem;
}

.about-content .about-inner-content img{
    width: 70%;
    margin: 0;
    padding: 1rem;
    

}
.quality{
    padding: 4rem 7%;
    background-image:linear-gradient(60.34deg,white 52.45%,var(--btn-color) 52.45%);
}
.main-quality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}

.main-inner-quality{
    flex: 1 1 45rem;
}
.quality-content{
    padding: 0 4rem;
}
.quality-content h1{
    color: var(--btn-color);
    font-size: 50px;
    margin-bottom: 15px;
}
.quality-content p{
    color: var(--about-sec);
    font-size: 2rem;
    line-height:3rem;
}

.quality-image{
    width:90%;
    
   
}

.quality-image img{
    width: 100%;
    transition:transform 2s;
}
.quality-image img:hover{
    transform:rotate(60deg) ;
}
 .imag1{
    position: relative;
    right: 20px;
}
.gallery{
    padding: 4rem 7%;
    background: var(--about-sec);
}

.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.inner-gallery{
    flex: 1 1 300px;
}

.inner-gallery .gallery-image img{
    width: 90%;
    transition: transform 1s;
   
    box-shadow: 4px 7px 7px 0px #00000042;
    transition: 300ms;
    
}
.inner-gallery .gallery-image img:hover{
    filter:grayscale(1);
    transform: scale(1.04);
}


.enjoy-our-food{
     padding: 2rem 7%; 
    background: url(enjoye.png);
    background-size:cover; 
    background-position: center center;/* use this code to make the photo in center from x line and y line*/
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.food-main-content{
    width: 40%; /*always prefer to use percentage with width*/
    border: 4px solid white;
    padding: 2rem;
}
.food-main-content h1{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem 0;
}


.food-main-content p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 1rem 0;
    line-height: 30px;
   
}

.our-menu-food{
    padding: 2rem 7%;
    background-color: var(--about-sec);
}
.our-menu-food h1{
    color: var(--btn-color);
    font-size: 45px;
    text-align: center;
    padding: 0.5rem 0;
}
.main-menu-food{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.inner-menu-food{
    flex: 1 1 300px;
}
.menu-food-content{
    width:100%;

}
.menu-food-content img{
    width: 100%;
}

.menu-food-text{
    padding: 2rem 2rem;
}
.menu-food-text h2{
    color: var(--btn-color);
    font-size: 30px;
}
.menu-food-text p{
    color:white;
    font-size:18px;
    margin: 2rem 0;
}
.menu-food-text p span{
    color: #151513;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
    background-color:#f3af30 ;
    border-radius: 5px;
}
.menu-food-text p:hover span{
    border: 1px solid white;
    background: var(--btn-color);
    color: rgb(16, 15, 15);
    transform: scale(1.1);
}
.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}
.before{
    width: 100%;
}
.before img{

    width: 100%;
    object-fit: cover;
}

.footer{
    background: #1d1d23;
    padding: 6rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-footer img{
    width: 200px;
}
.footer-navbar{
    margin-top: 15px;
}
.footer-navbar a{
    color: #e58f00;
    font-size: 18px;
    margin: 1rem;
    padding: 1rem;
}





















@media (max-width:767px) {
    .header{
        padding: 3rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 100%;
        background-color: var(--btn-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);


    }
    .navbar a{
        display: block;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }

    /* home css desing */
    .home{
        height: 50%;
        
    }

    .home-text-content{
        padding: 0 2rem;
        position: relative;
        bottom: 260px;

    }
    .home-text-content p{
       margin: 10px 0;
    }
    .home-text-content h1{
        margin: 10px 0;
    }
    .main-home{
        padding: 1rem 0;
    }
    .home{
        padding-top: 100px;
        
    }
    .home-image img{
        transform: translate(0%, 0%);
    }
    .home-text-content{
        margin-top: 300px;
    }
    .about-content .about-inner-content img{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .quality-content{
        padding: 1rem 2rem;
    }
    .quality-content h1{
        color: var(--about-sec)
    }
    .food-main-content{
        width: 100%;
        border: 4px solid white;
        padding: 1rem;
    }

    .footer-navbar a{
        display: block;
       
    }

}
.menu-food-content{
        width: auto;
        flex-direction: column;
    }
    
    
    

/*
@media screen and (max-width:601){
    .food-main-content{
        width: 100%; /*always prefer to use percentage with width
        border: 4px solid white;
        padding: 0;
    }
    
}
*/